<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>

<%= render "devise/omniauth_form", action: "sign_up" %>

<br>
<div class="separator">o</div>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>



    <div class="registration small-12 column auth-field">

      <%= f.hidden_field :use_redeemable_code %>
      <%= f.hidden_field :locale, value: I18n.locale %>

      <%= f.text_field :username,  autofocus: true, maxlength: User.username_max_length,
                                   placeholder: t("devise_views.users.registrations.new.username_label"),
                                   hint: t("devise_views.users.registrations.new.username_note") %>

      <%= f.invisible_captcha :address %>

      <% select_options = User::GENDER.map { |g| [t("activemodel.models.user.gender.#{g}"), g] } %>
      <%= f.select :gender, options_for_select(select_options),
          label: t("devise_views.users.registrations.new.gender_label"),
          include_blank: true %>

      <div class="date-of-birth">
        <%= f.date_select :date_of_birth,
        label: t("devise_views.users.registrations.new.date_of_birth_label"),
        prompt: true,
        start_year: 1900, end_year: minimum_required_age.years.ago.year %>
      </div>

      <% select_options = User::EDUCATIONAL_LEVEL.map { |e| [t("activemodel.models.user.educational_levels.values.#{e}"), e] } %>
      <%= f.select :educational_level, options_for_select(select_options),
          label: t("devise_views.users.registrations.new.educational_level_label"),
          include_blank: true %>

      <%= f.email_field :email, placeholder: t("devise_views.users.registrations.new.email_label") %>

      <%= f.password_field :password, autocomplete: "off",
                          hint: t("devise_views.users.registrations.new.password_hint"),
                           placeholder: t("devise_views.users.registrations.new.password_label") %>

      <%= f.password_field :password_confirmation, autocomplete: "off",
                           label: t("devise_views.users.registrations.new.password_confirmation_label"),
                           placeholder: t("devise_views.users.registrations.new.password_confirmation_label") %>

      <% if resource.use_redeemable_code %>
        <%= f.text_field :redeemable_code, placeholder: t("devise_views.users.registrations.new.redeemable_code") %>
      <% end %>

      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "https://redpublica.pe/terminos-de-uso/",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ) %>
      <br>
      <div class="small-12 medium-12 small-centered">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded classic-submit" %>
      </div>
    </div>
<% end %>
<div class="text-center auth-text">
    <%= link_to t("devise_views.shared.links.login"), new_session_path(resource_name) %><br>
</div>

