<div class="jumbo light created-proposal-banner">
  <div id="<%= dom_id(@proposal) %>" class="row">
    <div class="small-12 column text-center">
      <br>
      <span class="title"><strong><%= t("proposals.created.title") %></strong><br><%= t("proposals.created.preview") %></span>
      <br><br>
      <p><%= t("proposals.created.motivation") %><br><strong><%= sanitize(t("proposals.created.motivation_2")) %></strong></p>

      <% if can?(:publish, @proposal) %>
      <%= link_to t("proposals.created.publish"),
      publish_proposal_path(@proposal),
      method: :patch, class: "button" %>
      <% end %>
      &nbsp;
      &nbsp;
      <% if can?(:edit, @proposal) %>
        <%= link_to t("proposals.created.edit"),
                    edit_proposal_path(@proposal),
                    class: "button" %>
      <% end %>
      <br><br>
      <div class="notice">
        <small><%= sanitize(t("proposals.created.motivation_3", link: link_to(t("proposals.created.terms"), "https://redpublica.pe/terminos-de-uso/", target: "_blank")),attributes: %w(href target)) %><br></small>
      </div>
    </div>
  </div>
</div>

<div class="preview">
<div class="row">
  <div class="small-12 medium-9 medium-centered column preview-card margin-top margin-bottom">
    <h3><%= t("proposals.created.preview_title") %></h3>
    <% preview = true %>
<% provide :title do %><%= @proposal.title %><% end %>
<% content_for :meta_description do %><%= @proposal.summary %><% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: proposal_url(@proposal),
              social_title: @proposal.title,
              social_description: @proposal.summary,
              twitter_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil),
              og_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<% cache [locale_and_user_status(@proposal),
          @proposal,
          @proposal.author,
          Flag.flagged?(current_user, @proposal),
          @proposal.followed_by?(current_user),
          @proposal_votes] do %>
  <div class="proposal-show">
    <div id="<%= dom_id(@proposal) %>" class="row">
      <div class="small-12 medium-9 column">
        <%= back_link_to proposals_path unless preview %>

        <h1><%= @proposal.title %></h1>
        <% if @proposal.retired? %>
          <div data-alert class="callout alert margin-top proposal-retired">
            <strong>
              <%= t("proposals.show.retired_warning") %><br>
              <%= link_to t("proposals.show.retired_warning_link_to_explanation"),
                          "#retired_explanation" %>
            </strong>
          </div>
        <% elsif @proposal.conflictive? %>
          <div data-alert class="callout alert margin-top">
            <strong><%= t("proposals.show.flag") %></strong>
          </div>
        <% end %>

        <%= render "proposals/info", proposal: @proposal %>
        <%= render "shared/geozone", geozonable: @proposal %>

        <% unless @proposal.selected? %>
          <%= render "relationable/related_content", relationable: @proposal %>
        <% end %>

        <div class="js-moderator-proposal-actions margin">
          <%= render "proposals/actions", proposal: @proposal %>
        </div>
      </div>

      <% unless preview %>
        <aside class="small-12 medium-3 column">
          <% if can?(:dashboard, @proposal) %>
            <div class="sidebar-divider"></div>
            <h2><%= t("proposals.show.author") %></h2>
            <div class="show-actions-menu">
              <%= link_to progress_proposal_dashboard_path(@proposal),
                          class: "button hollow expanded",
                          id: "proposal-dashboard-#{@proposal.id}" do %>
                <span class="icon-edit"></span>
                <%= t("proposals.show.dashboard_proposal_link") %>
              <% end %>
            </div>
          <% end %>

          <%= render "proposals/support_status", proposal: @proposal %>

          <%= render "proposals/social_share", proposal: @proposal, share_title: t("proposals.show.share") %>

          <% if current_user %>
            <div class="sidebar-divider"></div>
            <p class="sidebar-title"><%= t("shared.follow") %></p>

            <%= render "follows/follow_button", follow: find_or_build_follow(current_user, @proposal) %>
          <% end %>

          <%= render "communities/access_button", community: @proposal.community %>
        </aside>
      <% end %>
    </div>
  </div>
<% end %>

<% unless preview %>
  <div class="additional-content">
    <div class="filter-subnav">
      <div class="row">
        <div class="small-12 column">
          <%= render "proposals/filter_subnav" %>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs-content" data-tabs-content="proposals_tabs">
    <div class="tabs-panel is-active" id="tab-comments">
      <%= render "proposals/comments" %>
    </div>

    <%= render "proposals/notifications" %>
    <%= render "milestones/milestones", milestoneable: @proposal %>
  </div>
<% end %>

  </div>
</div>
</div>

