<% provide :title do %><%= t("proposals.index.title") %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page:1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <% if [
          @search_terms,
          @advanced_search_terms,
          params[:retired].present?,
          params[:selected].present?
        ].any? %>
    <div class="highlight no-margin-top padding margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <% if @search_terms || @advanced_search_terms %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @proposals %>
              <% if !@advanced_search_terms %>
                <%= sanitize(
                  t("proposals.index.search_results", count: @proposals.size, search_term: @search_terms)
                ) %>
              <% end %>
            <p>
          <% elsif params[:retired].present? %>
            <h2><%= t("proposals.index.retired_proposals") %></h2>
          <% elsif params[:selected].present? %>
            <h2><%= t("proposals.index.selected_proposals") %></h2>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals" %>
  <% end %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

        <div class="title small-12">
          <h2>
            <span><%= t("proposals.index.featured_proposals") %></span> <%= t("proposals.index.featured_proposals2") %>
            <span><%= image_tag(image_path_for("flecha.png"), class: "", alt: setting["org_name"]) %></span>
          </h2>

        </div>
        <% unless params[:retired].present? || params[:selected].present? %>
          <%= render Shared::AdvancedSearchComponent.new %>
        <% end %>


      <% unless params[:selected].present? %>
        <%= render "shared/order_links", i18n_namespace: "proposals.index" %>
      <% end %>




      <div id="proposals-list">

        <% if @proposals.any? || current_user.blank? %>
          <% if proposals_default_view? %>
            <%= render partial: "proposals/proposal", collection: @proposals %>
          <% else %>
            <% @proposals.each do |proposal| %>
              <%= render "/proposals/proposal_minimal", proposal: proposal %>
            <% end %>
          <% end %>
          <%= paginate @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>


      </div>
      <% if params[:order] != 'recommendations' %>
        <%= render Proposals::MapProposalsComponent.new(@proposals) %>
      <% end %>
      <div class="new-proposal-bottom-btn margin-top">
        <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_path,
                      class: "button" %>
      </div>
    </div>


    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <% if params[:retired].blank? %>
          <h3 class="uppercase"><%= t('proposals.index.filter_title') %></h3>
          <%= render "shared/tag_cloud", taggable: "Proposal" %>
          <%= render "aside_geozones" %>
        <% end %>
      </aside>
    </div>
  </div>
</main>
