<div class="proposal-form row">

  <div class="small-12 column">
    <%= back_link_to %>
    <div class="small-12 medium-9 column small-centered white margin-top">
      <div class="text-center">
        <h1 class="white"><%= t("proposals.new.start_new") %></h1>
        <div class="subtitle">
            <%= t("proposals.new.more_info") %>
            <br>
            <span class="warning"><%= t("proposals.new.more_info_warning") %><span>
        </div>
      </div>
      <br>
      <%= render "proposals/form", form_url: proposals_path %>
    </div>
  </div>
</div>
