<% provide :title do %><%= @proposal.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: proposal_url(@proposal),
            social_title: @proposal.title,
            social_description: @proposal.summary %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<% cache [locale_and_user_status(@proposal), @proposal, @proposal.author, Flag.flagged?(current_user, @proposal), @proposal_votes] do %>
  <div id="<%= dom_id(@proposal) %>" class="row text-center">
    <div class="small-12 column">
      <%= image_tag("pancarta.png", style: "max-width: 300px; margin: 30px", alt: "") %>
      <h1 class="white"><%= t("proposals.proposal.created") %></h1>

      <p class="white">
        <span class="lead"><%= t("proposals.proposal.share.guide") %></span><br>
      </p>

      <%= render "shared/social_share",
        title: @proposal.title,
        url: proposal_url(@proposal),
        description: @proposal.summary,
        mobile: @proposal.title %>


      <div class="small margin-bottom" style="margin-top: 30px">
        <%= link_to t("proposals.proposal.share.view_proposal"), proposal_path(@proposal), class: "white" %>
      </div>
    </div>

  </div>
<% end %>
