<footer>
  <div>
    <div class="row">
      <div class="footer-image small-12 medium-3 large-3 column">
        <h1 class="logo">
        <%= image_tag(image_path_for("logo_footer.png"), class: "float-left", alt: setting["org_name"]) %>
        </h1>
      </div>
    </div>
  </div>

  <div class="hide-for-small-only">
  <div class="footer-header-wrapper">
    <div class="row footer-headers">
      <div class="small-3 large-3 columns">
        <small>
        <%= t("layouts.footer.site") %>
        </small>
      </div>
      <div class="small-3 large-3 columns">
        <small>
        <%= t("layouts.footer.contact") %>
        </small>
      </div>
      <div class="small-3 large-3 columns">
        <small>
        <%= t("layouts.footer.newsletter") %>
        </small>
      </div>
      <div class="small-3 large-3 columns">
        <small>
        <%= t("layouts.footer.rules") %>
        </small>
      </div>
    </div>
  </div>

  <div>
    <div class="row footer-links">
      <div class="small-3 large-3 columns">
        <ul class="no-bullet">
        <li><%= link_to t("layouts.footer.home"), "https://test.redpublica.pe/" %></li>
        <li><%= link_to t("layouts.footer.about"), "https://test.redpublica.pe/sobre-redpublica/" %></li>
        <li><%= link_to t("layouts.footer.create_profile"), new_user_registration_path %></li>
        <li><%= link_to t("layouts.footer.megaphone"), root_path %></li>
        <li><%= link_to t("layouts.footer.attention"), "https://test.redpublica.pe/ojo/" %></li>
        <li><%= link_to t("layouts.footer.tabloid"), "https://test.redpublica.pe/pizarron/" %></li>
        </ul>
      </div>

      <div class="small-3 large-3 columns">
      <ul class="no-bullet">
        <li><%= link_to t("layouts.footer.info"), "https://test.redpublica.pe/contacto/" %></li>
      </ul>
      </div>
      <div class="small-3 large-3 columns">
        <span><%= t("layouts.footer.subscribe") %></span>
        <input type="text" placeholder="<%= t("layouts.footer.email") %>">
        <button type="button"><%= t("layouts.footer.involve") %></button>
      </div>
      <div class="large-3 columns">
      <ul class="no-bullet">
        <li><%= link_to t("layouts.footer.privacy"), "https://test.redpublica.pe/politica-privacidad/" %></li>
        <li><%= link_to t("layouts.footer.terms"), "https://test.redpublica.pe/terminos-de-uso/" %></li>
      </ul>
      </div>
    </div>
  </div>
  </div>


  <div class="show-for-small-only">
    <div class="row footer-columns">
      <div class="small-12 large-3 columns">
        <div class="footer-columns__header">
          <small>
          <%= t("layouts.footer.site") %>
          </small>
        </div>
        <div>
          <ul class="no-bullet">
          <li><%= link_to t("layouts.footer.home"), "https://test.redpublica.pe/" %></li>
          <li><%= link_to t("layouts.footer.about"), "https://test.redpublica.pe/sobre-redpublica/" %></li>
          <li><%= link_to t("layouts.footer.create_profile"), new_user_registration_path %></li>
          <li><%= link_to t("layouts.footer.megaphone"), root_path %></li>
          <li><%= link_to t("layouts.footer.attention"), "https://test.redpublica.pe/ojo/" %></li>
          <li><%= link_to t("layouts.footer.tabloid"), "https://test.redpublica.pe/pizarron/" %></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-3 columns">
        <div class="footer-columns__header">
          <small>
          <%= t("layouts.footer.contact") %>
          </small>
        </div>
        <div>
          <ul class="no-bullet">
            <li><%= link_to t("layouts.footer.info"), "https://test.redpublica.pe/contacto/" %></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-3 columns">
        <div class="footer-columns__header">
          <small>
          <%= t("layouts.footer.newsletter") %>
          </small>
        </div>
        <div>
          <span><%= t("layouts.footer.subscribe") %></span>
          <input type="text" placeholder="<%= t("layouts.footer.email") %>">
          <button type="button"><%= t("layouts.footer.involve") %></button>
        </div>
      </div>
      <div class="small-12 large-3 columns">
        <div class="footer-columns__header">
          <small>
          <%= t("layouts.footer.rules") %>
          </small>
        </div>
        <div>
          <ul class="no-bullet">
          <li><%= link_to t("layouts.footer.privacy"), "https://test.redpublica.pe/politica-privacidad/" %></li>
          <li><%= link_to t("layouts.footer.terms"), "https://test.redpublica.pe/terminos-de-uso/" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-logos row">
    <div class="small-12">
      <%= image_tag(image_path_for("ods-footer.png"), class: "ods", alt: setting["org_name"]) %>
      <%= image_tag(image_path_for("coopesp-footer.png"), class: "coopesp", alt: setting["org_name"]) %>
    </div>
  </div>

<div class="subfooter-wrapper">
  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>
    </div>
  </div>
</div>
</footer>
