<header>



  <div id="offcanvas-full-screen" class="offcanvas-full-screen" data-off-canvas data-transition="overlap">
  <div class="offcanvas-full-screen-inner">
    <button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true"><%= image_tag(image_path_for("logo_vertical.png"), alt: setting["org_name"]) %></span>
    </button>

    <ul class="offcanvas-full-screen-menu">
    <li>
    <%= link_to t("layouts.header.tabloid"), "http://new.redpublica.pe/pizarron/" %>
    </li>
    <li>
    <%= link_to t("layouts.header.advertisement"), "/" %>
    </li>
    <li>
    <%= link_to t("layouts.header.download"), "http://new.redpublica.pe/herramientas/" %>
    </li>
    <li>
    <%= link_to t("layouts.header.attention"), "http://new.redpublica.pe/" %>
    </li>
    <li>
    <% if user_signed_in? %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to t("layouts.header.be_one"), "/users/sign_up" %>
    <% end %>
    </li>
    <li>
    <%= link_to t("layouts.header.group"), "/" %>
    </li>
    </ul>
  </div>
</div>

<div class="off-canvas-content" data-off-canvas-content>

<div class="row">
<div class="small-12 column">
<div class="top-bar">

<div class="top-bar-title">
<%= link_to root_path, accesskey: "0" do %>
  <%= image_tag(image_path_for("logo_header.png"), class: "float-left", alt: setting["org_name"]) %>
  <%= image_tag(image_path_for("logo_icon.png"), class: "float-left header-icon", alt: setting["org_name"]) %>
  <% end %>
  </div>

  <div class="top-bar-social">
  <%= link_to "https://www.facebook.com/Redpublica.pe", accesskey: "0" do %>
    <%= image_tag(image_path_for("facebook-logo.png"), class: "float-left", alt: setting["org_name"]) %>
    <% end %>
    <%= link_to "https://www.instagram.com/redpublica.pe/", accesskey: "0" do %>
      <%= image_tag(image_path_for("instagram-logo.png"), class: "float-left", alt: setting["org_name"]) %>
      <% end %>
      <%= link_to "https://twitter.com/Redpublicape", accesskey: "0" do %>
        <%= image_tag(image_path_for("twitter-logo.png"), class: "float-left", alt: setting["org_name"]) %>
        <% end %>
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for("envelope-simple.png"), class: "float-left", alt: setting["org_name"]) %>
        <% end %>
      </div>

      <div class="top-bar-links">
        <div class="menu">
          <%= link_to t("layouts.header.tabloid"), "http://new.redpublica.pe/pizarron/" %>
          <%= link_to t("layouts.header.advertisement"), "/" %>
          <%= link_to t("layouts.header.download"), "http://new.redpublica.pe/herramientas/" %>
          <%= link_to t("layouts.header.attention"), "http://new.redpublica.pe/" %>
          <% if user_signed_in? %>
          <%= link_to t("layouts.header.logout"), destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to t("layouts.header.be_one"), "/users/sign_up" %>
          <% end %>
          <%= link_to t("layouts.header.group"), "/" %>
          </div>
        </div>
    <div>
    <span class="float-right">
      <span class="menu-icon dark" data-toggle="offcanvas-full-screen"></span>
    </span>
    </div>

  </div>
  </div>
</div>

</div>


</header>
